.acttf_inner 
{
    padding: 10px!important;
}

div#wp-acttf_top_editor-wrap 
{
    padding: 10px 0 30px 0!important;
}

div#wp-acttf_bottom_editor-wrap 
{
    padding: 10px 0 20px 0!important;
}

.notice-success.acttf-success-msg
{
	border-left-color: #46b450;
}

.notice-error.acttf-error-msg
{
	border-left-color: red!important;
}
